{% extends 'base.html' %}
{% block content %}
			<!-- Header -->
				<header id="header">
					<h1 id="logo">National Parks Explorer</h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{{ url_for('parks.get_activities') }}">Home</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">
					<header class="container">
						<center><h2> <strong>{{ name_activity }}</strong></h2></center>
					</header>
										<!-- Three -->
										<section class="wrapper style3 container special">
											<div class="row">
												{% for _data in data %}
												<div class="col-6 col-12-narrower">
				
													<section>
														<a href="{{ url_for('parks.get_park_data', parkcode = _data['parkCode']) }}" class="image featured"><img src="{{ _data['image'] }}" alt="" /></a>
														<header>
															<h3>{{ _data['fullName'] }}</h3>
														</header>
														<p>{{ _data['description']}}</p>
													</section>
				
												</div>
												{% endfor %}
											</div>

											<footer class="major">
												{% if not hide %}
												<ul class="buttons">
													<li><a href="{{ url }}" class="button">See More Parks</a></li>
												</ul>
												{% endif %}
											</footer>
										</section>

				</article>
{% endblock %}