{% extends 'base.html' %}
{% block content %}
			<!-- Header -->
				<header id="header">
					<h1 id="logo">National Parks Explorer</h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{{ url_for('parks.get_activities') }}">Home</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row gtr-150">
								<div class="col-4 col-12-narrower">

									<!-- Sidebar -->
										<div class="sidebar">
											{% for img in data['images'] %}
											<section>
												<header>
													<h3>{{ img['title'] }}</h3>
												</header>
												<a href="#" class="image featured"><img src="{{ img['url'] }}" alt="" /></a>
												<p>
													{{ img['caption'] }} <br>
													Credit: {{ img['credit'] }}
												</p>
											</section>
											{% endfor %}
										</div>

								</div>
								<div class="col-8 col-12-narrower imp-narrower">

									<!-- Content -->
										<div class="content">
											<section>
												<header>
													<h2>{{ data['fullName'] }}</h2>
												</header>
													{% if data['url'] %}
													<p><a href = "{{ data['url'] }}"><b>Link to park website</b></a></p>
													{% endif %}
													{% if data['address'] %}
													<p><b>Address:</b> <br>
														{{ data['address']['line1'] }} <br>
														{% if data['address']['line2'] %}
															{{ data['address']['line2'] }} <br>
														{% endif %}
														{% if data['address']['line3'] %}
															{{ data['address']['line3'] }} <br>
														{% endif %}
														{{ data['address']['city'] }}, {{ data['address']['stateCode'] }}
														{{ data['address']['postalCode'] }} <br>
													</p>
													{% endif %}
													{% if data['directionsInfo'] %}
													<p><b>Directions:</b> {{ data['directionsInfo'] }}</p>
													{% endif %}
													{% if data['hours'] %}
													<p><b>Hours: </b><br>
														Sunday: {{ data['hours']['sunday'] }} <br>
														Monday: {{ data['hours']['monday'] }} <br>
														Tuesday: {{ data['hours']['tuesday'] }} <br>
														Wednesday: {{ data['hours']['wednesday'] }} <br>
														Thursday: {{ data['hours']['thursday'] }} <br>
														Friday: {{ data['hours']['friday'] }} <br>
														Saturday: {{ data['hours']['saturday'] }} <br>
													</p>
													{% endif %}
													{% if data['fees'][0]['cost'] == '0.00' %}
													<p><b>Fees: </b> Free Park
													</p>
													{% else %}
													<b>Fees: </b> 
													{% for _fee in data['fees'] %}
													<p>{{ _fee['title']}}: ${{ _fee['cost'] }} <br>
														{{ _fee['description'] }}
													</p>
													{% endfor %}
													{% endif %}
													{% if data['phoneNumber'] %}
													<p><b>Phone Number: </b>{{ data['phoneNumber']['phoneNumber'] }}</p>
													{% endif %}
													
													{% if webcams %}
													<b>Webcams:</b>
													{% for webcam in webcams %}
													<p> {{ webcam["title"] }}</p>
													<a href="#" class="image featured"><img alt = "" src = "{{ webcam['url']}}"></a>
													{% endfor %}
													{% endif %}
										</section>
										</div>

								</div>
							</div>
						</section>

				</article>

{% endblock %}